@import './base.css';
/*muda a cor h1*/
a,
.green {
  text-decoration: none;
  color: rgb(255, 170, 0);
  transition: 0.4s;
  text-shadow: 0.2px 0.2px #000000;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 50%) {
  body {
    color: #ff4d00;
    min-height: 80%;
    margin: 10%;
    padding: 2rem;
    align-items: left;
    font-weight: normal;
    background-color: rgba(255, 0, 0, 0.5);
  }
  .laudo {
    color: rgb(255, 0, 191);
  }
  #app {
    display: grid;
    min-width: 80%;
    min-height: 80%;
    grid-template-columns: 1fr 1fr;

    background-color: rgba(255, 0, 0, 0.5);
    color: #00ff51;
  }
}
